# Dependencies
/node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/.svelte-kit
/drizzle

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# Vercel
.vercel
