<table class="voucher" style=" width: 140px; padding: 5px">
	<thead>
		<tr>
			<th colspan="2" style="width:100%;text-align: center; font-size: 12px; font-weight:thin; "> %hotspotName% ☕<!--span class="num">%count%</span-->
			</th>
		</tr>
	</thead>
	<tbody>
		<tr style="color: black; font-size: 10px; text-align: center;">
			<!--td class="vc" style="display:none; width: 160px;">Voucher &nbsp;</td-->
			<!--td class="up" style="display:none; width: 140px;">Username</td-->
			<!--td class="up" style="display:none; width: 80px;">Password</td-->
		</tr>
		<tr style="color: black; font-size: 16px; text-align: center;">
			<td style="border: 1px solid black; font-weight:bold;width: 140px; padding: 10px;">%username%</td>
			<!--td class="up" style="border: 1px solid black; font-weight:bold;display:none;">%password%</td-->
		</tr>
	</tbody>
	<tfoot>
		<tr style="color: black; font-size: 10px; text-align: center; font-weight:thin;">
			<th colspan="2" ><!--span class="validity">%validity%</span--> <span class="timelimit">Time Limit: %limitUptime%</span> <!--span>%limitBytesTotal%</span--> <!--span class="price">%price%</span--></th>
		</tr>
	</tfoot>
</table>